<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSONP</title>
</head>
<body>
  <input id="text" type="text"> 交给其他服务器处理的值
  <button id="button">请求</button>
  <script>
    var script = document.createElement('script')
    script.src = 'http://localhost:4000/jsonp/define?call=callDefined'
    document.body.appendChild(script)
  </script>
  <script>
    var button = document.getElementById('button')
    var text = document.getElementById('text')
    button.onclick = function () {
      if (callDefined) {
        callDefined(text.value)
      }
    }
  </script>
</body>
</html>