<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>JSONP</title>
</head>
<body>
  <input id="checkbox" type="checkbox"> 要求服务器返回成功/失败(选择为成功)
  <button id="button">请求</button>
  <script>
    function getCallResult(result){
      if (result === 0) {
        alert('success')
      } else {
        alert('fail')
      }
    }
  </script>
  <script>
    var button = document.getElementById('button')
    var checkbox = document.getElementById('checkbox')
    button.onclick = function () {
      var script = document.createElement('script')
      var val = checkbox.checked ? 'a' : 'b'
      // val = a 时,返回成功调用
      // val = b 时，返回失败调用
      script.src = 'http://localhost:4000/jsonp/call?val=' + val +'&callback=getCallResult'
      document.body.appendChild(script)
    }
  </script>
</body>
</html>